deepin.com.weixin.work_2.4.16.1347deepin0_i386.deb filter=lfs diff=lfs merge=lfs -text
deepin.com.weixin.work_2.8.10.2010deepin0_i386.deb filter=lfs diff=lfs merge=lfs -text
deepin.com.qq.im_8.9.19983deepin23_i386.deb filter=lfs diff=lfs merge=lfs -text
deepin.com.qq.im_9.1.8deepin0_i386.deb filter=lfs diff=lfs merge=lfs -text
